<div class="header block">
    <div class="wrapper">
        <div class="header__block">
            <div class="header__block__hunter"></div>
            <div class="header__block__text">
                <div class="logo">
                    <img src="img/logo.png" alt="logo">
                </div>
                <h1 class="title title-slab text__beige text__left">
                    Единственная универсальная приманка для диких копытных
                </h1>
                <p class="text">
                    Разработан на основе опыта российских императорских егерей для охоты
                    <span class="ib">на оленя,</span> лося, кабана и других копытных.
                </p>
                <ul class="header__block__list">
                    <li>
                        <div class="check"></div>
                        <p class="list__text">Первая добыча уже спустя 3 часа</p>
                    </li>
                    <li>
                        <div class="check"></div>
                        <p class="list__text">Запах приманки активен
                            <span class="ib">на протяжении</span> 9 часов</p>
                    </li>
                    <li>
                        <div class="check"></div>
                        <p class="list__text">Действует в радиусе 10 км</p>
                    </li>
                    <li>
                        <div class="check"></div>
                        <p class="list__text">Эффективен вне зависимости
                            <span class="ib">от погоды</span></p>
                    </li>
                </ul>
            </div>
            <div class="header__block__form-pack">
                <div class="pack-block">
                    <img src="img/pack.png" alt="">
                </div>
                <div class="form-block">
                    <div class="form">
                        <div class="form__discount">
                            -50 <img src="img/procent.png" alt="procent">
                        </div>
                        <div class="form__time">
                            Успей заказать со скидкой <br>
                            <span class="text__red">до <span class="date-0"></span></span>
                        </div>
                        <div class="form__price">
                            <div class="form__price__old">
                                <p class="head">Старая цена</p>
                                <div class="price">
                                    <span class="x_price_previous title-slab">1980</span>
                                    <span class="x_currency curr">руб.</span>
                                </div>
                            </div>
                            <div class="form__price__new">
                                <p class="head">Новая цена</p>
                                <div class="price">
                                    <span class="x_price_current title-slab">990</span>
                                    <span class="x_currency curr">руб.</span>
                                </div>
                            </div>
                        </div>
                        <p class="form__stock">
                            Осталось <span class="lastpack text__red">15</span> упаковок<br>
                            по Акции
                        </p>
                        <form action="/submit">
                            <div class="input-name">
                                <input type="text" name="name" placeholder="Имя">
                            </div>
                            <div class="input-phone">
                                <input type="text" name="phone" placeholder="Телефон">
                            </div>
                            <button class="main__btn" type="submit">
                                <img src="img/bullet.png" alt="">
                                <span>
                                Заказать <br>
                                <span class="with__discount">со скидкой</span>
                            </span>
                            </button>
                        </form>
                    </div>
                    <div class="security">
                        <div class="security__img"></div>
                        <p class="security__text">Ваши данные защищены!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>