<div class="history block">
    <div class="wrapper">
        <div class="history__block">
            <div class="history__block__awards">
                <div class="history__block__awards__item">
                    <div class="billet">
                        <img src="img/star.png" alt="star">
                    </div>
                    <p class="text">
                        <span class="text__m-b">Hunt Expert популярен</span><br>
                        среди первых лиц государства
                        <span class="ib">и звезд эстрады</span></p>
                </div>
                <div class="history__block__awards__dash">
                    <img src="img/bullet-gray.png" alt="bullet-gray">
                </div>
                <div class="history__block__awards__item">
                    <div class="billet">
                        <img src="img/hunter__logo.png" alt="hunter__logo">
                    </div>
                    <p class="text">
                        <span class="text__m-b">Рекомендован</span><br>
                        профессиональными охотниками
                        России</p>
                </div>
                <div class="history__block__awards__dash">
                    <img src="img/bullet-gray.png" alt="bullet-gray">
                </div>
                <div class="history__block__awards__item">
                    <div class="billet">
                        <img src="img/star2.png" alt="star">
                    </div>
                    <p class="text">
                        <span class="text__m-b">Сейчас рекорд с <span class="ib">Hunt Expert –</span></span><br>
                        2 кабана, 3 оленя и 2 лося.
                        <span class="text__m-b">Общий вес - <span class="text__red">1969 кг</span></span></p>
                </div>
            </div>
            <div class="history__block__text">
                <h2 class="title title-slab">
                    <span class="title-inner">История императорской приманки</span>
                </h2>
                <div class="some__history">
                    <div class="some__history__foto">
                        <span>“</span>
                    </div>
                    <div class="some__history__descr">
                        <div class="left">
                            <p class="descr-text">Приманку, на основе которой был создан
                                <span class="ib">Hunt Expert, придумали</span> во времена Петр I.Император
                                <span class="ib">не был</span> большим любителем охоты, однако во время
                                <span class="ib">его правления</span> она стала обязательной
                                церемонией.</p>
                            <p class="descr-text">Во время охоты обсуждались важные
                                <span class="ib">государственные дела,</span> заключались
                                союзы
                                <span class="ib">с другими государствами</span> и торговые сделки.</p>
                            <p class="descr-text">Для того, чтобы охота проходила легко егери
                                <span class="ib">Петра использовали</span> специальную приманку для <span class="ib">диких копытных.</span>
                                Звери сами выходили из леса
                                <span class="ib">и шли к источнику</span> запаха, где их и поджидал Петр
                                <span class="ib">с гостями</span> и свитой.</p>
                        </div>
                        <div class="right">
                            <p class="descr-text">Во время царствования Александра III приманка была усовершенствована
                                Иностранные гости часто спрашивали императора, как ему удается добыть столько зверей на
                                охоте. На что, Александр с усмешкой говорил: “ В России даже звери хотят поглазеть на
                                своего императора”.</p>
                            <hr>
                            <p class="descr-text last-italic">
                                На основе опыта царских егерей и современных
                                технологий был разработан
                                <span class="text__m-b"><span class="text__red">Hunt Expert</span> —
                                <span class="ib">приманка, которая</span> уже доказала свою
                                эффективность.</span>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>