<div class="today block">
	<div class="wrapper">
		<h2 class="title today-title text__beige title-slab"><span class="title-inner">Тогда и Сейчас —</span></h2>
		<h4 class="today-slogan">с Hunt Expert охота легка, увлекательна и всегда с богатой добычей</h4>
		<div class="today-tabs">
			<div class="today-navigation">
				<p class="today-navigation__item">Тогда, с приманками царских егерей</p>
				<p class="today-navigation__item">Сейчас, с эффективной приманкой Hunt Expert</p>
			</div>
			<div class="today-wrap">
				
			</div>
		</div>
	</div>
</div>