<div class="today block">
	<div class="wrapper">
		<h2 class="title today-title text__beige title-slab"><span class="title-inner">Тогда и Сейчас —</span></h2>
		<h4 class="today-slogan">с Hunt Expert охота легка, увлекательна и всегда с богатой добычей</h4>
		<div class="today-tabs">
			<ul class="today-navigation">
				<li class="today-navigation__item"><a href="#then">Тогда, с приманками царских егерей</a></li>
				<li class="today-navigation__item active"><a href="#now">Сейчас, с эффективной приманкой Hunt Expert</a></li>
			</ul>
			<div class="today-box">
				<div class="today-wrap" id="now">
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-now1.jpg" alt="">
						<p class="today-name">Николай Валуев</p>
						<p class="today-descr">За день охоты добыл:</p>
						<div class="today-booty"></div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-now2.jpg" alt="">
						<p class="today-name">Николай Валуев</p>
						<p class="today-descr">За день охоты добыл:</p>
						<div class="today-booty"></div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-now3.jpg" alt="">
						<p class="today-name">Николай Валуев</p>
						<p class="today-descr">За день охоты добыл:</p>
						<div class="today-booty"></div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-now4.jpg" alt="">
						<p class="today-name">Николай Валуев</p>
						<p class="today-descr">За день охоты добыл:</p>
						<div class="today-booty"></div>
					</div>
				</div>
				<div class="today-wrap hide" id="then">
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-then1.jpg" alt="">
						<p class="today-name">Николай Валуев</p>
						<p class="today-descr">За день охоты добыл:</p>
						<div class="today-booty"></div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-then2.jpg" alt="">
						<p class="today-name">Николай Валуев</p>
						<p class="today-descr">За день охоты добыл:</p>
						<div class="today-booty"></div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-then3.jpg" alt="">
						<p class="today-name">Николай Валуев</p>
						<p class="today-descr">За день охоты добыл:</p>
						<div class="today-booty"></div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-then4.jpg" alt="">
						<p class="today-name">Николай Валуев</p>
						<p class="today-descr">За день охоты добыл:</p>
						<div class="today-booty"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
