<div class="today block">
	<div class="wrapper">
		<h2 class="title today-title text__beige title-slab"><span class="title-inner">Тогда и Сейчас —</span></h2>
		<h4 class="today-slogan">с Hunt Expert охота легка, увлекательна и всегда с богатой добычей</h4>
		<div class="today-tabs">
			<ul class="today-navigation">
				<li class="today-navigation__item ">
					<span class="l1-1"></span>
					<span class="l2-2"></span>
					<span class="l3-3"></span>
					<span class="l4-4"></span>
					<a href="#then">Тогда, с приманками царских егерей</a>
				</li>
				<li class="today-navigation__item active">
					<span class="l1"></span>
					<span class="l2"></span>
					<span class="l3"></span>
					<span class="l4"></span>
					<a href="#now">Сейчас, с эффективной приманкой Hunt Expert</a>
				</li>
			</ul>
			<div class="today-box">
				<div class="today-wrap" id="now">
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-now1.jpg" alt="">
						<div class="today-descr">
							<p class="today-descr__name">Николай Валуев</p>
							<p class="today-descr__text">За день охоты<br> добыл:</p>
							<div class="today-descr__booty">
								<p class="booty-item">
									<img src="img/boar.svg" alt="">
									<span>1</span>
								</p>
								<p class="booty-item">
									<img src="img/deer.svg" alt="">
									<span>3</span>
								</p>
							</div>
						</div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-now2.jpg" alt="">
						<div class="today-descr">
							<p class="today-descr__name">Григорий Лепс</p>
							<p class="today-descr__text">На первой же охоте застрелил:</p>
							<div class="today-descr__booty">
								<p class="booty-item">
									<img src="img/boar.svg" alt="">
									<span>4</span>
								</p>
								<p class="booty-item">
									<img src="img/deer.svg" alt="">
									<span>2</span>
								</p>
								<p class="booty-item">
									<img src="img/elk.svg" alt="">
									<span>1</span>
								</p>
							</div>
						</div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-now3.jpg" alt="">
						<div class="today-descr">
							<p class="today-descr__name">Федор Бондарчук</p>
							<p class="today-descr__text">Hunt Expert помог ему за&nbsp;1&nbsp;день&nbsp;взять:</p>
							<div class="today-descr__booty">
								<p class="booty-item">
									<img src="img/boar.svg" alt="">
									<span>2</span>
								</p>
								<p class="booty-item">
									<img src="img/deer.svg" alt="">
									<span>3</span>
								</p>
							</div>
						</div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-now4.jpg" alt="">
						<div class="today-descr">
							<p class="today-descr__name">Елена Проклова</p>
							<p class="today-descr__text">С помощью Hunt Expert добыла за один день:</p>
							<div class="today-descr__booty">
								<p class="booty-item">
									<img src="img/boar.svg" alt="">
									<span>4</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="today-wrap hide" id="then">
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-then1.jpg" alt="">
						<div class="today-descr">
							<p class="today-descr__name">Граф Петр Николаевич Трубецкой</p>
							<p class="today-descr__text">На царской охоте<br> взял:</p>
							<div class="today-descr__booty">
								<p class="booty-item">
									<img src="img/boar.svg" alt="">
									<span>6</span>
								</p>
								<p class="booty-item">
									<img src="img/deer.svg" alt="">
									<span>1</span>
								</p>
							</div>
						</div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-then2.jpg" alt="">
						<div class="today-descr">
							<p class="today-descr__name">Граф Александр Борисович Бутурлин</p>
							<p class="today-descr__text">За один день на царской охоте взял:</p>
							<div class="today-descr__booty">
								<p class="booty-item">
									<img src="img/boar.svg" alt="">
									<span>3</span>
								</p>
								<p class="booty-item">
									<img src="img/deer.svg" alt="">
									<span>4</span>
								</p>
							</div>
						</div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-then3.jpg" alt="">
						<div class="today-descr">
							<p class="today-descr__name">Александр II</p>
							<p class="today-descr__text">За два дня охоты<br> добыл:</p>
							<div class="today-descr__booty">
								<p class="booty-item">
									<img src="img/boar.svg" alt="">
									<span>9</span>
								</p>
								<p class="booty-item">
									<img src="img/deer.svg" alt="">
									<span>7</span>
								</p>
							</div>
						</div>
					</div>
					<div class="today-wrap__item">
						<img class="today-wrap__img" src="img/today-then4.jpg" alt="">
						<div class="today-descr">
							<p class="today-descr__name">Александр III</p>
							<p class="today-descr__text">За один день его трофеями стали:</p>
							<div class="today-descr__booty">
								<p class="booty-item">
									<img src="img/boar.svg" alt="">
									<span>6</span>
								</p>
								<p class="booty-item">
									<img src="img/deer.svg" alt="">
									<span>8</span>
								</p>
								<p class="booty-item">
									<img src="img/elk.svg" alt="">
									<span>2</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
