<div class="effect">
    <div class="wrapper">
        <h2 class="title today-title text__beige title-slab">
            <span class="title-inner text__beige">Эффективность <span class="text__red">Hunt Expert</span> - <br>в его составе</span>
        </h2>
        <div class="effect__block">
            <div class="effect__block__item">
                <div class="number">
                    1
                </div>
                <div class="image__block">
                    <img src="img/deer.jpg" alt="deer">
                </div>
                <p class="text">
                    Крупная дичь в радиусе 10 км <span class="text__red">улавливает запах</span> и направляется
                    <span class="ib">к его источнику</span>
                    <span class="text-italic">за счет содержания половых желез диких копытных</span>
                </p>
            </div>
            <div class="effect__block__item center">
                <div class="number">
                    2
                </div>
                <div class="image__block">
                    <img src="img/deer1.jpg" alt="deer">
                </div>
                <p class="text">
                    Зверь прекращает чуять запах
                    <span class="ib">охотника и</span> <span class="text__red">теряет бдительность</span>
                    <span class="text-italic">благодаря маскирующим свойствам порошка пениса и крови марала, мускусу бобра и куницы</span>
                </p>
            </div>
            <div class="effect__block__item">
                <div class="number">
                    3
                </div>
                <div class="image__block">
                    <img src="img/deer2.jpg" alt="deer">
                </div>
                <p class="text">
                    Животное успокаивается, не делает резких движений и <span class="text__red">становится легкой добычей</span>
                    <span class="text-italic">из-за чабреца, коры
                    лиственницы, ивы и каменного
                    масла</span>
                </p>
            </div>
        </div>
    </div>
</div>