<div class="expert">
    <div class="wrapper">
        <h2 class="title title-slab">
            <span class="title-inner">Профессиональный охотник и егерь
                <span class="ib">рекомендует <span class="text__red">Hunt Expert</span></span></span>
        </h2>
        <div class="expert__block">
            <div class="expert__hunter">
                <img src="img/hunter.png" alt="">
            </div>
            <div class="expert__block__text">
                <h3>
                    <p class="kav">“</p>
                    <span>Это приманка для нашего,
                        <span class="ib">российского зверя</span>
                    </span>
                </h3>
                <p class="expert__text">
                    Я потомственный егерь и пользоваться на охоте именно царской приманкой мне на роду было написано. Вот
                    только в наши дни
                    ее приготовить сложно, нужно собрать много ингредиентов,
                    а одному человеку это сложно. А если еще и ошибиться при готовке приманки, то все усилия и время просто
                    собаке под хвост.
                </p>
                <p class="expert__text">
                    <span class="text__red text__bold">Hunt Expert</span> — это первая приманка на основе тех, которые использовали для царской охоты. Так что я не
                    мог ее не попробовать. <span class="text__bold">Зверь чует ее в радиусе десятка километров.</span> Конечно, на стульчике не посидишь,
                    как наши государи, надо спрятаться и подкрасться, на то оно и охота.
                </p>
                <p class="expert__text">
                    <span class=" text__bold">Для наших, Российских диких копытных, Hunt Expert идеален. Лось, косуля, кабаны, олени - все идут.</span>
                </p>
                <p class="expert__name">
                    <span>Дмитрий Васильев,
                        <span class="proffesion">егерь, охотник-профессионал</span>
                    </span>
                    <span class="expert__sight">
                            <img src="img/sight.png" alt="">
                    </span>
                </p>
            </div>
        </div>
    </div>

</div>