.today {
	background: url("../img/header_bng.png") no-repeat center / cover;
	padding: 40px 0;
	&-title {
		margin-bottom: 35px;
	}
	&-slogan {
		color: #eee3d6;
		font-size: 22px;
		font-weight: 400;
		text-align: center;
		position: relative;
		margin-bottom: 50px;
		&:before {
			content: "";
			position: absolute;
			background: url("../img/bullet-red.png") no-repeat;
			top: -20px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 30px;
			height: 13px;
		}
	}
	&-navigation {
		display: flex;
		margin-bottom: 40px;
		&__item {
			width: 50%;
			text-align: center;
			color: #fff;
		}
	}
	&-wrap {
		display: flex;
		justify-content: space-between;
		&.hide {
		    position: absolute;
		    left: 0;
		    top: 0;
		    height: 0;
		    width: 0;
		    overflow: hidden;
		    z-index: -1;
		    opacity: 0;
		}
		&__item {
			border-radius: 5px;
			background-color: #d3bda1;
			border: 5px solid #b9a182;
		}
		&__img {
			border-radius: 7px;
		}
	}
	&-booty {
		width: 148px;
		height: 30px;
		border-radius: 5px;
		background-color: #9b3020;
	}
}

