doctype html
html
  head
    meta(charset="utf-8")
    title Купить HuntExpert недорого. Цены, отзывы. Закажите HuntExpert сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,500,700" subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=cyrillic" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
    link(rel='stylesheet' href='css/foundation.css')
  body
    include ../common/a__header.html
    include ../common/b__history.html
    include ../common/c__today.html
    include ../common/d__feel.html
    include ../common/e__effect.html
    include ../common/f__expert.html
    include ../common/g__reviews.html
    include ../common/h__reciept.html
    include ../common/i__footer.html
    include ../common/popup.html


    script(src='./js/foundation.js')
    script(src='./js/app.js')
    script(src='./js/postDate.js')
    script(src='./js/everad.js')
